{
    "todos": [
        {{#repeat 10}}
        {
            "title": "{{city}}",
            "description": "{{long}}",
            "dueDate": "{{date '2021-01-01T00:01' '2021-12-31T23:59'}}",
            "isCompleted": {{boolean}}
        }
        {{/repeat}}
    ]
}